<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0" targetFramework="net47" />
  <package id="FluentResults" version="1.6.0" targetFramework="net47" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net47" />
  <package id="Microsoft.Data.SqlClient.SNI" version="1.1.1" targetFramework="net47" />
  <package id="System.Data.SQLite" version="1.0.113.1" targetFramework="net47" />
  <package id="System.Data.SQLite.Core" version="1.0.113.1" targetFramework="net47" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net47" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net47" />
</packages>